@import "root.css";

#weapon-container {
    width: 350px;
    height: 120px;

    background-color: var(--white-color);

    border: 2px var(--red-color) solid;
}

#weapon-name {
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--black-color);

    margin-top: -49px;
    margin-left: 10px;
}

#weapon-type {
    font-family: var(--main-font);
    font-size: 15px;
    color: var(--mid-gray);

    margin-top: -20px;
    margin-left: 10px;
}

#weapon-redcard {
    width: 105px;
    height: 116px;

    background-color: var(--red-color);

    position: relative;

    margin-top: 0;
    left: 60%;
}

#weapon-cost {
    font-family: var(--main-font);
    color: var(--white-color);

    text-align: center;
}

#coins-icon {
    width: 20px;
    height: 25px;

    margin-top: 13px;
}

#weapon-redcard div {
    display: flex;
    justify-content: center;

    gap: 5px;
}

#weapon-img {
    width: fit-content;
    height: 58px;

    margin-top: 10px;

    transform: translateX(-50%);
}